[project]
name = "vcf-generator-lite"
version = "4.3.0"
description = "A simple VCF generator"
authors = [{ name = "Jesse205", email = "jesse205@qq.com" }]
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.12"
dependencies = ["ttk-text>=0.2.2"]

[dependency-groups]
test = ["pytest>=9.0.2"]
lint = ["pyright>=1.1.407", "ruff>=0.14.10"]
build = [
    "pyinstaller>=6.17.0",
    "pyinstaller-versionfile>=3.0.1",
    "requests>=2.32.5",
]
dev = [
    "colorlog>=6.9.0",
    { include-group = "lint" },
    { include-group = "test" },
    { include-group = "build" },
]


[project.urls]
Repository = "https://gitee.com/HelloTool/VCFGeneratorLiteWithTkinter"
Github = "https://github.com/HelloTool/VCFGeneratorLiteWithTkinter"
Issues = "https://gitee.com/HelloTool/VCFGeneratorLiteWithTkinter/issues/new/choose"

[project.gui-scripts]
vcf-generator-lite = "vcf_generator_lite.__main__:main"

[build-system]
requires = ["uv_build>=0.9.22,<0.10.0"]
build-backend = "uv_build"

[tool.ruff]
line-length = 120
extend-exclude = ["typings/**"]

[tool.ruff.format]
docstring-code-format = true
line-ending = "lf"

[tool.pyright]
strictListInference = true
strictDictionaryInference = true
strictSetInference = true
deprecateTypingAliases = true
typeCheckingMode = "strict"
reportUnknownMemberType = "none"
reportUnknownParameterType = "none"
reportUnknownArgumentType = "none"
reportIncompatibleVariableOverride = "none"
reportMissingParameterType = "none"
reportUnknownVariableType = "none"
reportUnnecessaryIsInstance = "none"
reportImplicitOverride = "error"
ignore = ["typings"]
