name: Build App

on:
  workflow_call:
    inputs:
      os:
        description: Operating System
        type: string
        required: true
      package-type:
        description: Package Type
        type: string
        required: true
      python-version:
        description: Python Version
        type: string
      artifact-path:
        description: Artifact Path
        type: string
        required: true
      artifact-name:
        description: Artifact Name
        type: string
        required: true
    outputs:
      artifact-id:
        value: ${{ jobs.build.outputs.artifact-id }}
      artifact-url:
        value: ${{ jobs.build.outputs.artifact-url }}
      artifact-digest:
        value: ${{ jobs.build.outputs.artifact-digest }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ inputs.os }}
    name: Build ${{ inputs.artifact-name }}
    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install Dependencies
        run: |
          uv sync
      
      # Do not use UPX for speed.
      # - name: Prepare UPX for Windows
      #   if: ${{ startsWith(inputs.os, 'windows') && (inputs.package-type == 'portable' || inputs.package-type == 'installer') }}
      #   run: choco install upx

      - name: Build Package
        run: uv run scripts/build_app.py -t ${{ inputs.package-type }}

      - name: Upload Package
        id: upload-package
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-path }}
          if-no-files-found: error
    outputs:
      artifact-id: ${{ steps.upload-package.outputs.artifact-id }}
      artifact-url: ${{ steps.upload-package.outputs.artifact-url }}
      artifact-digest: ${{ steps.upload-package.outputs.artifact-digest }}