name: Build All Apps

on:
  workflow_dispatch:
    inputs:
      build-windows-installer:
        description: Build Windows Installer
        type: boolean
        default: true
      build-windows-portable:
        description: Build Windows Portable
        type: boolean
        default: true
      build-python3-zipapp:
        description: Build Python 3 Zip Application
        type: boolean
        default: true
  workflow_call:
    inputs:
      build-windows-installer:
        description: Build Windows Installer
        type: boolean
        default: false
      build-windows-portable:
        description: Build Windows Portable
        type: boolean
        default: false
      build-python3-zipapp:
        description: Build Python 3 Zip Application
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  build-windows-installer:
    if: ${{ inputs.build-windows-installer }}
    name: Build Windows Installer
    uses: ./.github/workflows/build.yml
    with:
      os: windows-latest
      package-type: installer
      python-version: 3.14t
      artifact-path: dist/*_setup.exe
      artifact-name: windows-installer

  build-windows-portable:
    if: ${{ inputs.build-windows-portable }}
    name: Build Windows Portable
    uses: ./.github/workflows/build.yml
    with:
      os: windows-latest
      package-type: portable
      python-version: 3.14t
      artifact-path: dist/*_portable.zip
      artifact-name: windows-portable

  build-python3-zipapp:
    if: ${{ inputs.build-python3-zipapp }}
    name: Build Python 3 Zip Application
    uses: ./.github/workflows/build.yml
    with:
      os: ubuntu-latest
      package-type: zipapp
      python-version: 3.14t
      artifact-path: dist/*_zipapp.pyzw
      artifact-name: python3-zipapp
